/* start global */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    height: 2000px;
}
.container{
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
@media(min-width:768px){
    .container{
        width: 750px;
    }
}
@media(min-width:992px){
    .container{
        width: 970px;
    }
}
@media(min-width:1200px){
    .container{
        width: 1170px;
    }
}
.layer{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0/70%);
    z-index: 1;
}
.head{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
}
.head h1{
    font-size: 50px;
    font-weight: 500;
    position: relative;
    margin-bottom: 100px;
    text-transform: uppercase;
}
.head h1::before{
    content: "";
    background-color: black;
    width: 120px;
    height: 3px;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);
}
.head h1::after{
    content: "";
    background-color: white;
    width: 30px;
    height: 26px;
    position: absolute;
    bottom: -52px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100%;
    border: 3px solid;
}
.head p{
    line-height: 1.5;
    max-width: 500px;
    margin: auto;
}
.content{
    background-color: rgb(25 200 250 /60%);
    width: 50%; 
    z-index: 2;
}
@media(max-width:762px){
    .content{
        width: 100%;
        padding: 90px;
    }
}
@media(min-width:762px){
    .content{
        width: 75%;
        padding: 80px;
    }
}
@media(min-width:992px){
    .content{
        width: 50%;
        padding: 70px;
    }
}
@media(min-width:1200px){
    .content{
        width: 50%;
        padding: 40px;
    }
}
.content h2{
    color: white;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 20px;
}
.content p{
    color: white;
    line-height: 1.5;
}
/* end   global */
/* <!-- start header --> */
.header{
    position:absolute;
    width: 100%;
    left: 0;
    z-index: 2;
    
}
.header .container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.header .container ::after{
    content: "";
    height: 2px;
    background-color: #a2a2a2;
    position: absolute;
    bottom: 0;
    min-width:calc(100% - 67px);
    left: 38px;
    z-index: -1;
}


.header .container .logo{
    width: 50%;
}
.header .container .logo img{
    height: 40px;
    transform: translate(20% , 50%);
    
}
.header .container nav{
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.header .container nav ul{
    display: flex;
    justify-content: space-between;
    flex: 1;
}
.header .container nav ul li{
    flex: 1;
}
.header .container nav ul li a{
    padding: 40px 10px;
    display: block;
    color: white;
    text-align: center;
    font-size: 14px;
    transition: 0.3s;
}
.header .container nav ul li:first-child a,.header .container nav ul li a:hover{
    color:#19C8FA ;
    border-bottom: 1px solid #19C8FA;
    
}
.header .container nav i:last-of-type{
    color: white;
    font-size: 20px;
    border-left: 1px solid white;
    padding: 15px;
}
.header .container nav i:first-of-type{
    color: white;
    font-size: 20px;
    padding: 15px;
}
@media (min-width:768px){
    .header .container nav i:first-of-type{
        display: none;
    }
}
@media (max-width:768px){

    .header .container nav ul{
        display: none;
    }
    .header .container nav i:first-of-type:hover + ul{
        display: flex;
        position: absolute;
        flex-direction: column;
        top: 100%;
        left: 0;
        width: calc(100% - 14px);
        background-color: rgb(0 0 0 /50%)
    }
    .header .container .logo img{
        height: 40px;
        transform: translateX(20%);
        margin-top: 10px;
        margin-bottom: 10px; 
    }

}
/* <!--   end   header --> */
/* <!--   start landing --> */
.landing{
    background-image: url(../images/cover2.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    height: 110vh;
    display: flex;
    align-items: center;
    position: relative;
    
}
@media(min-width:1200px){
    .content.land{
    width: 50%;
    padding: 40px;
    padding-left: 300px; 
    }
}
.content h2{
    color: white;
    font-weight: 500;
    line-height: 2;
    margin-bottom: 20px;
}
.content p{
    color: white;
    line-height: 1.5;
}
.landing i:nth-of-type(1){
    position: absolute;
    left: 0;
    top: 50%;
    color: white;
    font-size: 30px;
    margin-left: 40px;
    z-index: 2;

}
.landing i:nth-of-type(2){
    position: absolute;
    right: 0;
    top: 50%;
    color: white;
    font-size: 30px;
    margin-right: 40px;
    z-index: 2;
}
.landing i:nth-of-type(3){
    position: absolute;
    left: calc(50% - 40px);
    bottom: 10px;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    z-index: 2;
}
.landing i:nth-of-type(4){
    position: absolute;
    left: calc(50%);
    bottom: 10px;
    color: #19C8FA;
    font-size: 20px;
    margin-right: 40px;
    z-index: 2;
}
.landing i:nth-of-type(5){
    position: absolute;
    left: calc(50% + 40px);
    bottom: 10px;
    color: white;
    font-size: 20px;
    margin-right: 40px;
    z-index: 2;
}

/* <!--   end   landing --> */
/* <!--   start   services --> */
.services .container .boxes{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 20px;
}
.services .container .boxes .services-box{
    display: grid;
    grid-template-columns: repeat(2,auto);
    gap: 50px;
}
.services .container .boxes .services-box i{
    grid-row: 1/3;
    font-size: 50px;
    line-height: 1.2;
}
.services .container .boxes .services-box h3{
    color: #19C8FA;
}
@media(max-width:768px){
    .services .container .boxes{
        display: grid;
        grid-template-columns: repeat(1,auto);
        gap: 20px;
    }
    .services .container .boxes .services-box{
        display: grid;
        grid-template-columns: repeat(1,auto);
        gap: 50px;
        text-align: center;
    }
}
@media(min-width:768px) and (max-width:980px){
    .services .container .boxes{
        display: grid;
        grid-template-columns: repeat(1,auto);
        gap: 40px;
    }
}
/* <!--   end   services --> */
/* <!-- start Design --> */
.design{
    background-image: url(../images/image2.jpg);
    background-size: cover;
    height: 80vh;
    margin-top: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}
.design .content.des .info{
    display: grid;
    grid-template-areas:
    "myi myp"
    "myi myp";
    width: 240px;

}
.design .content.des .info i{
    grid-area: "myi";
    margin-right: 20px;
    margin-bottom: 10px;
    line-height: 1.6;
    color: white;
}
.design .content.des .info p{
    grid-area: "myp";
}
@media(max-width:762px){
    .content.des{
        width: 100%;
        padding: 50px;
    }
}
@media(min-width:1200px){
    .content.des{
        width: 50%;
    }
}
/* <!-- end Design --> */
/* <!-- start portfolio --> */
.portfolio .container .links{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
.portfolio .container .links ul{
    display: flex;
}
.portfolio .container .links ul li a{
    padding: 10px;
    color: black;
}
.portfolio .container .links ul li a:hover,.portfolio .container .links ul li .active1{
    background-color: #19C8FA;
    border-radius: 15%;
    color: white;
    transition: 0.3s;
}
.portfolio .all{
    display: grid;
    grid-template-columns: repeat(4,25%); 
}
.portfolio .all .inside-all{
    position: relative;
    overflow: hidden;
}
.portfolio .all .inside-all img{
    max-width: 100%;
    transition: 0.3s;
}
.portfolio .all .inside-all .caption{
    background-color: white;
    width: 100%;
    position: absolute;
    bottom: -120px;
    padding: 15px;
    transition: 0.5s;
}
.portfolio .all .inside-all .caption h4{
    font-weight: 500;
    margin-bottom: 15px;
}
.portfolio .all .inside-all .caption p{
    color: #19C8FA;
}
.portfolio .all .inside-all:hover img{
    transform: scale(1.1) rotate(4deg);
}
.portfolio .all .inside-all:hover .caption{
    bottom: 0px;
}
@media(max-width:768px){
    .portfolio .all{
        display: grid;
        grid-template-columns: repeat(1,100%); 
    }
}
@media(min-width:768px) and (max-width:982px){
    .portfolio .all{
        display: grid;
        grid-template-columns: repeat(2,50%); 
    }
}
.portfolio .btn{
    padding: 50px;
    display: flex;
    justify-content: center;
}
.portfolio .btn button{
    padding: 10px;
    width: 80px;
    background-color: #19C8FA;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 10%;
}
/* <!-- end portfolio --> */
/* <!-- start video --> */
.video{
    position: relative;
    margin-top: 100px;
}
.video video{
    width: 100%;
}
.content.vid{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.content.vid button{
    padding: 8px;
    margin-top: 20px;
    background-color: black;
    color: white;
    border-radius: 10%;
    cursor: pointer;
}
@media(max-width:762px){
    .content.vid{
        padding: 20px;
    }
}
/* <!-- end video --> */
/* <!-- start about --> */
.about{
    width: 100%;
    margin-top: 100px;
    margin-bottom: 300px;
}
.about .head.ab{
    position: relative;
}
.about .head.ab img{
    position: absolute;
    left: 47%;
    transform: translateX(-50%);
    z-index: -1;
}
@media(max-width:768px){
    .about .head.ab img{
        bottom: -190%;
        width: 100%;
    }
}
@media(min-width:768px){
    .about .head.ab img{
        bottom: -220%;
        width: 75%;
    }
}
@media(min-width:982px){
    .about .head.ab img{
        width: 50%;
        bottom: -200%;

    }
}
@media(min-width:1200px){
    .about .head.ab img{
        width: 50%;
        bottom: -260%;
    }
}
/* <!-- end about --> */
/* <!-- start information --> */
.information{
    width: 100%;
    min-height: 60vh;
    background-image: url(../images/stats.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    justify-content: center;
    padding: 50px;
    
}
.information .container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    background-color:rgb(25 200 250 /40%) ;
    z-index: 2;
}
.information .container .information-box{
padding: 20px;
text-align: center;
color: white;
}
.information .container .information-box i{
    background-color: black;
    padding: 10px;
    border-radius: 50%;
}
.information .container .information-box h1{
    font-size: 50px;
}
@media(max-width:768px){
    .information .container .information-box{
        flex-basis: 100%;
    }
    
}
@media(min-width:768px){
    .information .container .information-box{
        flex-basis: 50%;

    }
}
@media(min-width:982px){
    .information .container .information-box{
        flex-basis: 25%;
    }
}
/* <!-- end information --> */
/* <!-- start testimniolas --> */
.test{
    margin-top: 100px;
}
.test .container.in-test{
    display: flex;
    flex-wrap: wrap;
}
@media(max-width:768px){
    .test .container.in-test .TESTIMONIALS{
        width: 100%;
    }
    .test .container.in-test .skills{
        width: 100%;
    }
    .test .container.in-test .testimage{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 40px;
    }
    .testimage img{
        margin-bottom: 40px;
    }
}
@media(min-width:768px){
    .test .container.in-test .TESTIMONIALS{
        width: 100%;
    }
    .test .container.in-test .skills{
        width: 100%;
    }
    .test .container.in-test .testimage{
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 40px;
    }
    .testimage img{
        margin-right: 40px;
    }
}
@media(min-width:982px){
    .test .container.in-test .TESTIMONIALS{
        width: 50%;
        padding:40px;
    }
    .test .container.in-test .skills{
        width: 50%;
        padding: 40px;
    }
    .test .container.in-test .testimage{
        display: flex;
        flex-wrap: nowrap;
        margin-bottom: 40px;
    }
    .testimage img{
        margin-right: 40px;
    }
}
.test .container.in-test .our-testimonials{
    text-align: center;
    margin-bottom: 50px;
}
.test .container.in-test .our-testimonials h3{
    font-weight: 500;
    padding: 30px;
}
.test .container.in-test .our-testimonials p{
    color: #a2a2a2;
}
.testimage img{
    width: 120px;
    border-radius: 50%;
}
.testimage .testtext{
    border-bottom: 1px solid #a2a2a2;
}
.testimage .testtext p:nth-of-type(1){
    margin-bottom: 40px;
}
.testimage .testtext p:nth-of-type(2){
    text-align: end;
    color: #a2a2a2;
    margin-bottom: 10px;
}
.test .container.in-test .TESTIMONIALS .buttons{
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.test .container.in-test .TESTIMONIALS .buttons span{
    width: 15px;
    height: 15px;
    background-color: white;
    border: 1px solid #a2a2a2;
    border-radius: 50%;
    margin: 5px;
}
.test .container.in-test .TESTIMONIALS .buttons .span-active{
    background-color: #19C8FA;
    border: 1px solid #19C8FA;
}
.skills .skills-boxs .skbox{
    margin-bottom: 50px;
}
.skills .skills-boxs .skbox p{
    margin-bottom: 10px;
}
.skills .skills-boxs .skbox .grand{
    width: 100%;
    height: 30px;
    background-color: #dedadc;
    
}
.skills .skills-boxs .skbox .grand .small::before{
    content: attr(data-progress);
    position: absolute;
    right: -18px;
    top: -125%;
    background-color: black;
    color: white;
    padding: 4px;
    border-radius: 10%;
}
.skills .skills-boxs .skbox .grand .small::after{
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: black transparent transparent transparent;
    right: -8px;
    top: -55%;
}

.skills .skills-boxs .skbox .grand .small{
    height: 100%;
    background-color: #19C8FA;
    position: relative;
}
/* <!-- end testimniolas --> */
/* <!-- start john --> */
.john{
    background-image: url(../images/quote.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.john .john-text{
    z-index: 2;
    color: white;
    text-align: center;
}
.john .john-text h4{
    font-size: 30px;
    font-weight: 400;
    padding: 20px;
}
/* <!-- end john --> */
/* <!-- start pricing --> */
.pricing .container .dollar{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
}.pricing .container .dollar .dollar-main{
    margin: 0 20px 20px 0;
}
.pricing .container .dollar .dollar-main .dollar-items{
    text-align: center;
    padding: 40px;
    border-bottom:1px solid #19C8FA;
    border-top:1px solid #19C8FA;
}
.pricing .container .dollar .dollar-main .dollar-items h4{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}
.pricing .container .dollar .dollar-main .dollar-items p{
    position: relative;
    font-size: 70px;
    font-weight: 700;
}
.pricing .container .dollar .dollar-main .dollar-items p::before{
    content: "$";
    position: absolute;
    font-size: 30px;
    left: 20px;
    font-weight: 400;
}
.pricing .container .dollar .dollar-main .dollar-items p::after{
    content: "/Mo";
    position: absolute;
    font-size: 20px;
    bottom: 0;
    font-weight: 700;
}
.pricing .container .dollar .dollar-main .dollar-list{
    text-align: center;
}
.pricing .container .dollar .dollar-main .dollar-list ul{
    padding:0 50px;
    border-bottom: 1px solid #19C8FA;
}
.pricing .container .dollar .dollar-main .dollar-list li{
    border-bottom: 1px solid #19C8FA;
    padding:20px 0 20px;

}
.pricing .container .dollar .dollar-main .dollar-list li:nth-of-type(4){
    border: none;
}
.pricing .container .dollar .dollar-main .dollar-button{
    text-align: center;
    padding: 50px;
}
.pricing .container .dollar .dollar-main .dollar-button a{
    padding: 10px;
    border: 1px solid #19C8FA; 
    border-radius: 10%;
    color: black;
    transition: 0.3s;
}
.pricing .container .dollar .dollar-main .dollar-button a:hover{
    color: white;
    background-color: #19C8FA;
    padding: 20px;
}
.pricing .container .request{
    text-align: center;
    padding: 20px;
}
.pricing .container .request h4{
    font-weight:500 ;
    font-size: 20px;
    margin-bottom: 40px;
}
.pricing .container .request a{
    padding: 10px 20px;
    background-color: #19C8FA;
    color: white;
}
/* <!-- end pricing --> */
/* <!-- start subscribe --> */
.subscribe {
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 40vh;
    position: relative;
    display: flex;
}
.subscribe .container{
    z-index: 1;
}
.subscribe .sub{
    display: flex;
    gap: 20px;
}
.subscribe .sub .subemail{
    display: flex;
    border: 1px solid white;
    justify-content: space-between;
    /* flex-basis: 40%; */
}
.subscribe .sub .subemail i{
    padding: 20px;
    color: white;
    font-size: 25px;
}
.subscribe .sub .subemail input[type=email]{
    background-color: transparent;
    border: none;
    color: white;
    width: 100%;
}
.subscribe .sub .subemail input::placeholder{
    color: white;
}
.subscribe .sub .subemail input:focus{
    outline: none;
    background-color: transparent;
}
.subscribe .sub .subemail input[type=submit]{
    text-align: center;
    cursor: pointer;
    background-color: #19C8FA;
    color: white;
    border: none;
    padding: 15px;
    width: calc(100% - 130px);
}
.subscribe .sub .subtext{
    color: white;
    line-height: 2;
}
@media(max-width:768px){
    .subscribe .sub{
        flex-direction: column;
    }
}
@media(min-width:768px){
    .subscribe .sub .subemail{
        flex-basis: 80%;
        margin-left: 60px;
    }
    .subscribe .sub{
        flex-wrap: wrap;
    }
}
@media(min-width:982px){
    .subscribe .sub .subemail{
        flex-basis: 40%;
        margin: 0;
    }
    .subscribe .sub{
        flex-wrap: nowrap;
    }
}
/* <!-- end subscribe --> */
/* <!-- start contact --> */
.contact .container .contactinfo{
    display: flex;
    gap: 60px;
}
.contact .container .contactinfo form{
    flex-basis: 80%;
}
.contact .container .contactinfo form input:not(:last-of-type){
    display: block;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}
.contact .container .contactinfo form textarea{
    width: 100%;
    padding: 20px;
}
.contact .container .contactinfo form input:last-of-type{
    display: block;
    display: flex;
    margin-left: auto;
    margin-top: 20px;
    background-color: #19C8FA;
    color: white;
    border: none;
    padding: 20px;
    cursor: pointer;
}
.contact .container .contactinfo .numbers{
    display: flex;
    flex-direction: column;
    gap: 20%;
}
.contact .container .contactinfo .numbers .touch{
    text-align: center;
    margin-bottom: 30px;
}
.contact .container .contactinfo .numbers .touch h3{
    margin-bottom: 10px;
}
.contact .container .contactinfo .numbers .touch p{
    line-height: 1.7;
    color: #a2a2a2;
}
@media(max-width:768px){
    .contact .container .contactinfo form{
        flex-basis: 100%;
    }
    .contact .container .contactinfo{
        flex-direction: column-reverse;   
    }
    .contact .container .contactinfo .numbers{
        align-items: center;
        
    }
}
/* <!-- end contact --> */
/* <!-- start social --> */
.footer{
    background-image: url(../images/subscribe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px;
    margin-top: 100px;
    position: relative;
}
.footer .container{
    z-index: 2;
    position:relative;
}
.footer .container .info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.footer .container .info img{
    width: 120px;
}
.footer .container .info .social {
    margin-top: 50px;
    margin-bottom: 50px;
}
.footer .container .info .social h2{
    color: white;
    font-weight: 500;
    position: relative;
    margin-bottom: 50px;

}
.footer .container .info .social h2::after{
    position: absolute;
    content: "";
    background-color: white;
    width: 120%;
    height: 1px;
    bottom: -80%;
    left: -10%;
}
.footer .container .info .social i{
    color: white;
    padding: 10px 15px;
    font-size: 20px;
}
.footer .container .info p{
    color: white;
}
.footer .container .info p span{
    color: #19C8FA;
    font-weight: 700;
}
/* <!-- end social --> */

